@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<form action="/AboutUs" class="form-horizontal" method="post" >
    <fieldset>
        <legend>О Компании</legend>
        <div><img src="\Content\themes\pics\dispetcher.jpg" class="logo" width="200" height="150"></div>  
Транспортная Компания "Возилкин" профессионально осуществляет перевозку сборных грузов по городам Беларуси. 
Образованная в Мае 2014 года в Минске, ТК "Возилкин" на сегодняшний день активно развивается и готова предоставить свои услуги в столице Беларуси.

Собственный автопарк, состоящий более чем из 300 автомобилей выполняющих ежедневные рейсы, поэтому доставкасборных грузов для нас не проблема. Мы стараемся предоставить максимальный сервис для грузоотправителей и грузополучателей.


Новые информационные инструменты позволяют сократить временные затраты на отправку, получение и отслеживаниегрузов.

Работая с нами, вы можете оценить преимущества ряда дополнительных услуг: отслеживания движения груза на сайте, упаковку и обрешетка для хрупких товаров, информирование о доставке. 
Мы ценим время и удобство клиентов, поэтому связаться с нашими менеджерами можно по указанным телефонам, электронной почте или ICQ. Мы готовы выполнить любую задачу, транспортные перевозки, доставка сборных грузов, доставка грузов авто, ж/д или авиатранспортом в любую точку России.
Также поможем осуществить грузоперевозки, цены которых вас приятно удивят. Приятным условием станет формирование оптимальных тарифов, удобство расчета ( отправителем, получателем либо третьим лицом). Мы работаем 5 дней в неделю, до последнего клиента, не так как многие другие транспортные компании. При желании, вы можете самостоятельно рассчитать стоимость заказа, подставив свои данные в специальную форму. Многие тысячи клиентов уже оценили преимущества доставок ТК «Возилкин». 
  

    </fieldset>
</form>