@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Новости компании</h2>

<H2>23.05.2014</H2>	

<p>23.05.2014</p> — Изменение тарифов на автоэкспедирование грузов
 Уважаемые клиенты! Сообщаем Вам, что с 23.05.14 г. меняются тарифы на автоэкспедирование по г.Нижневартовск. Подробности на странице нашего сайта.  Реил Континент


<p>23.05.2014</p> — Временные перебои с электроэнергией в офисе г. Челябинск
 Уважаемые клиенты! Сообщаем Вам, что в офисе г.Челябинск временные перебои с электроэнергией. Контактные номера для связи: 89128080102, 89507377878. Приносим свои извинения за доставленные неудобства.  Реил Континент


<p>23.05.2014</p> — Дополнительный номер
работает 23.05 в филиале г. Краснодар	   ПЭК


<p>23.05.2014</p> — Открытие дороги
в г. Нарьян-Мар	   ПЭК

<H2>22.05.2014</H2>	

22.05.2014 — Отключение электричества
22.05 в филиале г. Бийск	   ПЭК


<p>22.05.2014</p> — Дополнительный номер
работает 22.05 в филиале г. Белгород	   ПЭК

<H2>21.05.2014</h2>	

<p>21.05.2014<p> — Временные перебои с электроэнергией в офисе г. Пятигорск
 Уважаемые клиенты!  Сообщаем Вам, что в офисе г.Пятигорск временные перебои с электроэнергией. Контактный номер для связи: 89283232445. Приносим свои извинения за доставленные неудобства.  Реил Континент


<p>21.05.2014<p> — Отключение электричества